@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #131313;
  --border: #3b3b3b60;
  --secondary-text: #686868;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-secondary-text: var(--secondary-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

/* ===== DARK THIN SCROLLBAR ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;      /* dark thumb */
  border-radius: 10px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;        /* hover color */
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.15);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}

