@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #131313;
  --border: #3b3b3b60;
  --secondary-text: #686868;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-secondary-text: var(--secondary-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
